body {
  padding: 20px;
}

h1 {
	font-size: 2.0rem;
}

div.signin-btn {
  float: left;
  width: 45%;
  text-align: center;
}

.btn {
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-gplus {
  background-color: #4285f4;
}

.btn-github {
  background-color: #444;
}

a:link, a:visited {
  color: #fafafa;
  opacity: 0.9;
}

a:hover, a:active {
  color: #fff;
  opacity: 1.0;
}