body {
  padding: 20px;
}

h1 {
	font-size: 2.0rem;
}

div.signin-btn {
  float: left;
  width: 45%;
  text-align: center;
}

a.btn-github {
  background-color: #444;
  color: #fff;
}

a.btn-github:hover {
  background-color: #000;
}
